* {
  box-sizing: border-box;
}

body,
html {
  font-style: normal;
  font-family: 'Inter';
  color: #07040C;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}


.container {
  max-width: 1280px;
  margin: 0 auto;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #E2E3EF;
  padding-top: 23px;
  padding-bottom: 22px;
}

.header__logo {
  display: flex;
}


.header__logo-img {
  width: 55px;
  height: 55px;
}

.header__logo-text {
  margin-left: 10px;
  text-align: center;
}

.logo__title {
  font-family: 'Ubuntu';
  font-weight: 700;
  font-size: 24px;
  color: #F35A05;
}

.logo__desc {
  font-size: 13px;
  letter-spacing: 0.01em;
}

.header__list {
  font-family: 'Ubuntu';
  display: flex;
  gap: 40px;
  font-size: 14px;
  text-transform: uppercase;
}

.active {
  color: #F35A05
}


.header__link:hover {
  color: #F35A05;
  text-decoration: underline;
}

.header__logaut {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.header__logaut-registr {
  font-family: 'Ubuntu';
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;

}

.header__logaut-registr:hover {
  color: #F35A05;
}

.button:hover {
  background-color: #fff6c9;
  border-color: #F35A05;
}

.button {
  border: 1px solid #000000;
  border-radius: 30px;
  padding: 12px 20px;
}

.burger {
  display: none;
}

/*main*/

.main__container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.main__left,
.margin-right {
  max-width: calc(50% - 20px);
}

.main__left {
  margin-top: 100px;
}

.main__left-title {
  font-family: 'Ubuntu';
  font-weight: 700;
  font-size: 60px;
  margin-bottom: 30px;
}

.main__left-subtitle {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #585967;
  margin-bottom: 40px;
}

.main__left-subtitle span {
  color: #F35A05;
}

.main__left-button {
  background-color: #F35A05;
  color: #fff;
  border-color: #F35A05;
  padding: 22px 56px;
}

.main__left-button:hover {
  background-color: #fff7c9;
  color: #F35A05;
}

.main__left-par {
  display: flex;
  align-items: center;
}

.main__left-descr {
  font-family: 'Inter';
  font-size: 16px;
  color: #808296;
  margin-left: 30px;
  max-width: 220px;
}

.main__right {
  margin-top: 30px;
}

.main__right-img {
  width: 100%;
}

/*dignity*/
.dignity__content {
  display: flex;
  gap: 40px;
  margin-top: 50px;
}

.dignity__item {
  width: calc(100% - 40px);
}

.dignity__item-img {
  margin-bottom: 10px;
}

.dignity__item-title {
  font-family: 'Ubuntu';
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 15px;
}

.dignity__item-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 145%;
  color: #585967;
}

@media (max-width: 1200px) {}

@media (max-width: 1020px) {
  .header__list {
    gap: 30px;
  }

  .main__left-title {
    font-size: 50px;
  }

  .dignity__content {
    gap: 30px;
  }

  .dignity__item {
    width: calc(100% - 30px);
  }
}

@media (max-width: 945px) {
  .header__list {
    gap: 20px;
  }

  .main__left {
    margin-top: 80px;
  }

  .main__left-subtitle {
    font-size: 18px;
  }

  .main__left-button {
    padding: 15px 30px;
  }

  .main__left-descr {
    font-size: 14px;
    margin-left: 20px;
  }

  .dignity__content {
    gap: 25px;
  }

  .dignity__item-title {
    font-size: 22px;
    margin-bottom: 12px;
  }

  .dignity__item-descr {
    font-size: 14px;
  }
}

@media (max-width: 760px) {
  .header__container {
    padding-top: 16px;
    padding-bottom: 15px;
  }

  .header__logo-img {
    width: 45px;
    height: 45px;
  }

  .logo__title {
    font-size: 20px;
  }

  .logo__desc {
    font-size: 10px;
  }

  .header__list {
    gap: 10px;
    font-size: 12px;
  }

  .header__logaut {
    gap: 10px;
  }

  .header__logaut-registr {
    font-size: 12px;
  }

  .dignity__content {
    gap: 20px;
  }

  .dignity__item {
    width: calc(100% - 20px);
  }

  .dignity__item-img {
    margin-bottom: 5px;
  }

  .dignity__item-title {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .dignity__item-descr {
    font-size: 12px;
  }

}

@media (max-width: 680px) {
  .container {
    padding: 0 15px;
  }

  .header__container {
    margin: 0 15px;
    padding-top: 16px;
    padding-bottom: 15px;
  }

  .header__logo-img {
    width: 41px;
    height: 41px;
  }

  .logo__title {
    font-size: 18px;
  }

  .logo__desc {
    font-size: 10px;
  }

  .header__logaut-registr {
    font-size: 12px;
  }

  .header__list {
    display: none;
  }

  .header__logaut-registr {
    display: none;
    font-size: 12px;
  }

  .button {
    display: block;
    margin-right: 35px;
    padding: 10px 20px;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  .main__left {
    margin-top: 60px;
  }

  .main__left-title {
    font-size: 32px;
  }

  .button {
    margin-right: 0;
  }

  .dignity__content {
    gap: 10px;
  }

  .dignity__item {
    width: 18%;
  }

  .dignity__item-img {
    margin-bottom: 0px;
  }

  .dignity__item-title {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .dignity__item-descr {
    font-size: 10px;
  }
}

@media (max-width: 570px) {
  .main__container {
    flex-direction: column;
    gap: 26px;
  }

  .main__left,
  .main__right {
    max-width: 100%;
    padding: 15px;
  }

  .main__left {
    margin-top: 40px;
  }

  .main__left-title {
    margin-bottom: 15px;
    text-align: center;
  }

  .main__left-subtitle {
    font-size: 16px;
    margin-bottom: 15px;
    text-align: center;
  }

  .main__left-par {
    flex-direction: column;
  }

  .main__left-button {
    padding: 18px 70px;
    margin-bottom: 8px;
  }

  .main__right {
    margin-top: 0;
  }

  .dignity__content {
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .dignity__item {
    width: calc(50% - 20px);
  }

  .dignity__item-img {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    justify-content: center;
  }

  .dignity__item-title {
    font-size: 20px;
    margin-bottom: 5px;
    text-align: center;
  }

  .dignity__item-descr {
    font-size: 14px;
    text-align: center;
  }
}